<div align="center">
  <br>
  <% if current_user.present? %>
      <%= link_to 'Обратная связь', new_feedback_url %><br>
  <% end %>

  <br>
  <%= current_year %>
  <br>
  <%= github_url("malovevgen", "test-guru") %><br>
  Тест Гуру <br>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank' %>
</div>
