<tr>
  <td><%= question.body %></td>
  <td><%= link_to t('admin.shared.show'), admin_question_path(question) %></td>
  <td><%= link_to t('admin.shared.edit'), edit_admin_question_path %></td>
  <td>
    <%= link_to t('admin.shared.delete'),
                admin_question_path(question),
                method: :delete,
                data: { confirm: t('admin.shared.del_confirm') } %>
  </td>
</tr>
