.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.border-green {
  border: solid green;
}

.border-red {
  border: solid red;
}

.test-progress {
  width: 100%;
  height: 30px;
  background-color: #ddd;
}

 .progress-bar {
  width: 0%;
  background-color: #4CAF50;
}
